---
const currentYear = new Date().getFullYear();
---
<footer class="bg-color6 opacity-70 text-whitish py-4">
  <div class="container mx-auto flex justify-between items-center">

  <!-- Un div vacío para crear la zona en blanco de la izquierda -->
    <div></div>

    <p class="text-sm">
     © {currentYear} Todos los derechos reservados, EDP
    </p>

    <div class="flex space-x-4">
      <a href="https://www.linkedin.com/in/enrique-d%C3%ADaz-p%C3%A9rez-68b92b33a/" target="_blank" rel="noopener noreferrer">
        <img
          src="/linkedin.png"
          alt="LinkedIn"
          class="w-6 h-6"
        />
      </a>
      <a href="https://github.com/EnriqueModoVedruna" target="_blank" rel="noopener noreferrer">
        <img
          src="/github.png"
          alt="GitHub"
          class="w-6 h-6"
        />
      </a>
    </div>

  </div>
</footer>